<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"
        ><img src="img/logo.png" alt="Logo" style="width: 200px"
      /></a>

      <!-- NAVBAR TOGGLER -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- NAVBAR CONTENT MIDDLE -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto leftie">
          <li class="nav-item">
            <a class="nav-link" href="#">How it works?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/catalogue">Catalogue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
        </ul>

        <!-- NAVBAR AUTH -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-2">
            <button
              type="button"
              class="btn btn-link text-dark text-decoration-none"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
            >
              Login
            </button>
          </li>
          <li class="nav-item me-3">
            <button
              type="button"
              class="btn btn-dark text-white rounded-0"
              data-bs-toggle="modal"
              data-bs-target="#signupModal"
            >
              Get started
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- LOGIN MODAL -->
<div class="modal fade" id="loginModal" aria-hidden="true" aria-labelledby="loginModalLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <form id="login-form" class=" needs-validation card-body cardbody-color p-lg-5" method="post">
                  <h2 class="text-center mb-5">Hello Again!</h2>
                  <div class="form-group was-validated mb-3">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                    <div class="invalid-feedback">
                      Please enter your email address
                  </div>
                  </div>
                  <div class="form-group was-validated mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div class="invalid-feedback">
                      Please enter your password
                  </div>
                  </div>
                  <div class="form-group form-check my-3">
                    <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me">
                    <label class="form-check-label" for="remember-me">Remember me</label>
                  </div>
                  <button type="submit" class="btn btn-dark w-100 rounded-0">Login</button>
                  <p class="mt-3 text-center">Don't have an account? <a href="#" id="sign-in-link" role="button" data-bs-target="#signupModal" data-bs-toggle="modal" data-bs-dismiss="modal">Sign up instead</a></p>
                </form>
            </div>
          </div>
        </div>

        <!-- SIGNUP MODAL -->
        <div class="modal fade" id="signupModal" aria-hidden="true" aria-labelledby="signupModalLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <form id="sign-in-form" class="needs-validation card-body cardbody-color p-lg-5" method="post"">
                  <h2 class="text-center mb-5">Sign up</h2>
                  <div class="form-group was-validated mb-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="form-group was-validated mb-3">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                  <div class="form-group was-validated mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-dark w-100 rounded-0">Sign up</button>
                  <p class="mt-3 text-center">Already have an account? <a id="login-link" data-bs-toggle="modal" href="#loginModal" role="button">Login instead</a></p>
                </form>
            </div>
          </div>
        </div> 