    <section id="title" class="rr-row">
        <section id="top-title">

          <%- include('partials/navbar'); %>
          
          <!-- TITLE AND CAR IMAGE -->
          <div class="row">
            <div class="col-lg-6 titles" data-aos="fade-right" data-aos-duration="1000"> 
              <h1>Search, book and rent vehicle easily.</h1>
              <p>Get a car wherever and whenever you need it with just a click on your laptop, ios or android device</p>
            </div>
            <div class="col-lg-6">
              <img src="img/rrcar.png" id="rr" alt="rolce royce" />
            </div>
          </div>
        </div>
        </section>
        <section id="bottom-title">
        
          <!-- Road -->
          <div class="row">
            <div class="col ms-4">
            <div class="road"></div>    
            </div>
            <div class="col">
            <div class="road"></div>    
            </div>
            <div class="col">
            <div class="road"></div>    
            </div>
            <div class="col">
            <div class="road"></div>    
            </div>
            </div>

          <!-- APPLY FORM -->
          
          <div class="card quicksearch rounded-0 justify-content-md" style="margin-bottom: 130px;" data-aos="fade-up-left" data-aos-duration="1000">
            <div class="card-body">
                  <form class="row" method="post" action="/search">
                    <div class="col">
                      <label for="make"><strong>Location:</strong></label>
                      <select class="form-control test" id="make">
                        <option value="">Accra, Kumasi</option>
                        <option value="ford">Ford</option>
                        <option value="chevrolet">Chevrolet</option>
                        <option value="toyota">Toyota</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="pickupDate"><strong>Pickup Date:</strong></label>
                      <input type="date" class="form-control test" id="pickupDate">
                    </div>
                    <div class="col">
                      <label for="returnDate"><strong>Return Date:</strong></label>
                      <input type="date" class="form-control test" id="returnDate">
                    </div>
                    <div class="col-md-auto">
                      <button type="submit" class="btn btn-dark rounded-0 w-100" style="font-size: 2rem;"><i class="bi bi-search"></i></button>
                    </div>
                  </form>
                </div>
              </div>

              <!-- BRAND ICONS -->
                    <div class="container">
                      <div class="row justify-content-md-center">
                        <div class="col brand-ico">
                          <img src="img/bmw.png"  style="width: 45px;" alt="toyota">
                        </div>
                        <div class="col brand-ico">
                          <img  src="img/chevrolet.png"  style="width: 60px;"  alt="toyota">
                        </div>
                        <div class="col brand-ico">
                          <img class="img-responsive"  src="img/Porshe.png" style="width: 40px;"  alt="porshe">
                        </div>
                        <div class="col brand-ico">
                          <img class="img-responsive"  src="img/mercedes benz.png" style="width: 50px;" alt="Benz">
                        </div>
                        <div class="col brand-ico">
                          <img class="img-responsive"  src="img/Rolls Royce.png" style="width: 50px;"  alt="toyota">
                        </div>
                        <div class="col brand-ico">
                          <img class="img-responsive"  src="img/ferrari.png" style="width: 40px;"  alt="toyota">
                        </div>
                        <div class="col brand-ico">
                          <img  src="img/jaguar.png"  style="width: 60px;"  alt="toyota">
                        </div>
                        <div class="col brand-ico">
                          <img class="img-responsive"  src="img/Volkswagen.png" style="width: 45px;"  alt="toyota">
                        </div>
                        </div>
                        </div>
        </section>
    </section>


    <section id="service">

    </section>
